


h1{
	text-align: center;
}
.img-frame{
	height: 150px;
	width: 150px;
	text-align: center;
	margin: 0;
	border: solid green;
	float: left;
}

img{
	height: 100px;
	width: 100px;
	clear: both;
}

#result {

	color: white;
	font-weight: 32px;
}

#result button{
	color: black;
}